
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
nav > ul {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 40px;
}

/* common style */

.btn-primary{
border-radius: 5px;
background: rgb(229, 152, 10);
border: 0;
font-size:20px;
color: aliceblue;
padding:10px 15px ;
}

/* header style */
.header{
   background-color: rgb(229, 164, 235);
  
}
.banner{
    padding:20px 20px 0px  130px ;
    display: flex;
    
}

.banner .profile{
    height: 400px;
    width: 350px;
   
}