
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
nav > ul {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 40px;
}

/* common style */

.btn-primary{
border-radius: 5px;
background: rgb(229, 152, 10);
border: 0;
font-size:20px;
color: aliceblue;
padding:10px 15px ;
}

/* header style */
.header{
   background-color: rgb(229, 164, 235);
  
}
.banner{
    padding:20px 20px 0px  130px ;
    display: flex;
    
}

.banner .profile{
    height: 400px;
    width: 350px;
   
}

/* main section style */

main{
    max-width: 1100px;
    margin: 0 auto;
}

.featured{
    padding: 120px;
}
.section-title{
    text-align: center;
    font-size: 30px;
    font-family: open Sans;

}

.section-descriptin{
    text-align: center;
    font-size: 16px;
}

/* pink section */

.pink-container{
    display: flex;
    justify-content: space-between;

    gap: 20px;
    border: 2px;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 100px;
    
}

.pink-6{
    background: rgb(232, 121, 203);
   
    gap: 20px;
    border-top: 2px;
    border-radius: 150px 150px 0px 0 ;
    padding-top: 70px;
    height: 460px;
    
    
}

.pink-5{
    background: cornflowerblue;
   
    gap: 20px;
    border-top: 2px;
    border-radius: 150px 150px 0px 0 ;
    align-items: center;
    padding-top: 80px;
    height: 450px;

}

.pink-7{
    background: rgb(178, 177, 173);
    
    gap: 20px;
    border-top: 2px;
    border-radius: 150px 150px 0px 0 ;
    align-items: center;
    padding-top: 60px;
    height: 470px;
}
.tex-decoretion{
    padding-top: 30px;
    text-align: center;
    text-decoration: underline;
}
.tex-item{
    padding-top: 80px;
    text-align: center;
    text-decoration: underline;
}

.tex-pink{
 text-align: center;
 text-decoration: underline;
}

/* support-container section */
.support-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: rgb(232, 230, 221);
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
   
}
.Delivery{
    gap: 5px;
}
.fresh-flowers{
    gap: 5px;
}
.free{
    gap: 5px;
}


/* hot-deal section */

.hot-deal{
display: flex;
background: rgb(242, 226, 220);
margin-top: 70px;
padding-top: 40px;
text-align: center;
justify-content: space-between;
padding-bottom: 20px;
}

.hot-deal-title{
    padding-top: 100px;
    padding-left: 40px;
}

.flower-pic{
    padding-right: 80px;
    height: 300px;
}
.tex-primary{
    color: chocolate;
}